.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0; /* Voeg dit toe */
    z-index: 1000;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    color: #8B5CF6;
    background: rgba(255, 255, 255, 0.9);
}

.header--detail-page {
    align-items: flex-start;
}

.header__container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #8B5CF6;
    text-decoration: none;
}

.navigation-list__item, .header__hamburger-nav-item {
    a {
    text-decoration: none;
    color: #8B5CF6;
    font-weight: 500;
    }
}

.hamburger-icon {
    width: 2rem;
}

.navigation {
    display: none;
    width: 100%;
}

.navigation-list, .header__hamburger-nav-list {
    border-top: 1px solid #8B5CF6;
    padding-top: 0.5rem;
    margin: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.header__hamburger-nav {
    display: none;
    width: 95%;
}

@media (min-width: 50rem) {

    .header {
        align-items: center;
    }
    .hamburger-icon {
        display: none;
    }

    .navigation {
        display: flex;
        gap: 2rem;
        width: auto; /* Add this */
        align-items: center;
    }
    
    .navigation-list {
        display: flex;
        flex-direction: row; /* Add this - change from column to row */
        list-style: none;
        gap: 1rem;
        border-top: none; /* Remove the top border on desktop */
        padding-top: 0; /* Remove top padding on desktop */
        margin: 0; /* Remove margin on desktop */
    }

    .navigation-list__item {
        text-decoration: none;
        color: #4B5563;
        font-weight: 500;
    }

    .navigation a:hover {
        color: #8B5CF6;
    }
}

