.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    position: sticky; /* or use 'fixed' for always visible */
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    color: #8B5CF6;
}

.header__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #8B5CF6;
    text-decoration: none;
}

.navigation-list__item {
    a {
    text-decoration: none;
    color: #8B5CF6;
    font-weight: 500;
    }
}

.hamburger-icon {
    width: 2rem;
}

.navigation {
    display: none;
}

@media (min-width: 50rem) {
    .hamburger-icon {
        display: none;
    }

    .navigation {
        display: flex;
        gap: 2rem;
    }
    .navigation-list {
        display: flex;
        list-style: none;
        gap: 1rem;
    }

    .navigation-list__item {
        text-decoration: none;
        color: #4B5563;
        font-weight: 500;
    }

    .navigation a:hover {
        color: #8B5CF6;
    }
}