.projects {
    padding: 30% 0;

    background: linear-gradient(to bottom, #ffffff, #ddddff);
}

.projects__list {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.projects__header-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;


    .projects__title {
        color: #7B3AED;
    }
    
}

.projects__description {
    padding-left: 1rem;
    max-width: 70%;
    color: #4B5563;
}

.projects__item {
    width: 90%;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);


    .projects__image {
        width: 100%;
        border-radius: 5px 5px 0 0;
    }
}

.project__content {
    padding: 2rem 1rem;
    background-color: white;
}

.projects__button {
    margin: 0 auto;
    margin-top: 1rem;
}

@media(min-width: 50rem) {
  .projects {
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 6rem;
  }

  .projects__list {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2rem;
    margin: 0rem 1rem 0rem 1rem;
    width: 98%;
    align-items: flex-start;
    justify-content: flex-start;
    &::-webkit-scrollbar {
        height: 3px;
        background: #fff;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background: #c09bff;
        border-radius: 4px;
    }
  }

  .projects__item {
    flex: 0 0 35%;
    scroll-snap-align: start;
    min-width: 20vw; /* Change from width to min-width */
    width: 20rem
  }
}